<button class="btn btn-outline-primary" (click)="back()"> Back </button>
<hr>
<div>
<h1> History of Pick-2 Winning Numbers</h1>
</div>
<br>
<div id='totalContainer' class="container">

  <div class="row">

    <div class="col">
      <h4> Mid Day Drawing</h4>
      <h6> Draw Date - Winning Numbers</h6> 
      <ul>
        <li *ngFor='let result of middayResults'> <strong> {{winningPick2.drawDate}} </strong> - Number: <span> {{winningPick2.winningNumber}}</span>, Fireball: <span> {{result.fireball}} </span> </li>
      </ul>
    </div>

    <div class="col">
      <h4> Evening Drawing</h4>
      <h6> Draw Date - Winning Numbers - fireball</h6> 
      <ul>
        <li *ngFor='let result of eveningResults'>  <strong> {{winningPick2.drawDate}} </strong> - Number: <span> {{winningPick2.winningNumber}}</span>, Fireball: <span> {{result.fireball}} </span> </li>
      </ul>
    </div>

  </div>

</div>

