<div class="backGround">
  <div class="glassContainer glass" appDraggable>
    <button class="btn back-btn-panel" (click)="back()">Back</button>
    <h1 class="glass-header">Pick 2 Winning Numbers</h1>
    <hr />

    <div class="scrollContainer">
          <ul class="pick-list">
        <li *ngFor="let result of allResults" class="pick-row">
          
          <div class="draw-info">
            <div class="draw-date">{{ result.drawDate | date:'MMM d, y' }}</div>
          </div>

          <div class="pick-balls">
            <ng-container *ngFor="let digit of result.winningNumber.split('')">
              <span class="ball white-ball">{{ digit }}</span>
            </ng-container>
            <span *ngIf="result.fireball" class="ball red-ball">{{ result.fireball }}</span>
          </div>

          <div class="draw-session">
            <span *ngIf="result.midDay" class="session">🕑 Midday</span>
            <span *ngIf="result.evening" class="session">🌆 Evening</span>
          </div>
          
        </li>
      </ul>

    </div>
  </div>
</div>
