
.info-text {
  text-align: center;
}


mat-expansion-panel {
  margin-top: 1rem;
  width: 80%;
  margin: auto;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 1rem;
}