
.info-text {
  text-align: center;
}


mat-expansion-panel {
  margin-top: 1rem;
  width: 80%;
  margin: auto;
}

mat-paginator {
  margin-top: 2rem;
  height: 10%;
  width: 80%;
  margin: auto;
  background-color: rgb(107, 107, 107);
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}
