<div class="backGround">
  <div class="glassContainer glass" appDraggable>
    <button class="btn back-btn-panel" (click)="back()">Back</button>
    <h1 class="glass-header">Mega Millions Winning Numbers</h1>
    <hr />

    <div class="scrollContainer">
      <ul class="winning-list">
        <li *ngFor="let result of results">
          <strong>{{ result.drawDate | date:'MMM d, y' }}</strong> – 
          Numbers: 
          <span class="number-balls">
            <span *ngFor="let num of result.numbers" class="ball">{{ num }}</span>
          </span>
          | Mega Ball: <span class="ball mega">{{ result.megaBall }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
