<button class="btn btn-outline-primary" (click)="back()"> Back </button>
<hr>
<div>
<h1> History of Mega Millions Winning Numbers</h1>
</div>
<br>
<div id='totalContainer' class="container">

  <div class="row">

    <div class="col">
      
      <h6> Draw Date - Winning Numbers - Megaball - Multiplier</h6> 
      <ul>
        <li *ngFor=''></li>
      </ul>
    </div>

    <div class="col">
      <h6> Draw Date - Winning Numbers - Megaball - Multipler</h6> 
      <ul>
        <li *ngFor=''></li>
      </ul>
    </div>

  </div>

</div>

