<div class="backGround">
  <!-- DRAGGABLE WRAPPER -->
  <div class="glassContainer glass" appDraggable>

    <!-- Back button ON the panel -->
    <button class="btn back-btn-panel" type="button" (click)="back()">Back</button>

    <h2 class="title">Powerball Lottery</h2>

    <div class="rules-section">
      <h3>Powerball Lottery Number Generator</h3>
      <h4>Rules</h4>
      <p>1. Select five numbers from 1 through 69 + one 'Red Powerball' from 1 through 26. 
        You win the jackpot by matching all six winning numbers in any order plus the powerball</p>

      <!-- <p>
        Save numbers to your profile to track performance. After buying a ticket, click "Post it" to register the play.
      </p> -->
      <button class="btn btn-outline-info" (click)="showRules = true">I wish to know more</button>
    </div>

    <div class="number-cards">
      <div class="number-card">
        <h1>{{ numberGenService.powerBallGeneratedNumber1 }}</h1>
      </div>

      <div class="number-card">
        <h1>{{ numberGenService.powerBallGeneratedNumber2 }}</h1>
      </div>

        <div class="number-card">
        <h1>{{ numberGenService.powerBallGeneratedNumber3 }}</h1>
      </div>

      <div class="number-card">
        <h1>{{ numberGenService.powerBallGeneratedNumber4 }}</h1>
      </div>

         <div class="number-card">
        <h1>{{ numberGenService.powerBallGeneratedNumber5 }}</h1>
      </div>

       <div class="number-card" id="powerBall">
        <h1>{{ numberGenService.powerBallGeneratedNumber6POWERBALL }}</h1>
      </div>
    </div>

    <div class="genie-section">
      <p><i>{{ numberGenService.Phrase }}</i></p>
    </div>

    <div class="btn-group">
      <button class="btn btn-outline-primary"
        (click)="numberGenService.powerBallRandomGenMaster(); numberGenService.randomPhraseGen()">
        Give me a number!
      </button>
      <button class="btn btn-outline-success">
        I will play this number, save it
      </button>
      <button class="btn btn-outline-danger"
        (click)="numberGenService.powerBallRandomGenMaster(); numberGenService.randomPhraseGen()">
        I don't like this number
      </button>
      <button class="btn btn-outline-info">
        Show me numbers that have won
      </button>

    
    </div>
    <div class="saved-section">
      <h3>Saved Numbers</h3>
      <div class="saved-card">
        <p>[ {{ numberGenService.powerBallGeneratedNumber1 }},
           {{ numberGenService.powerBallGeneratedNumber2 }},
            {{ numberGenService.powerBallGeneratedNumber3 }},
             {{ numberGenService.powerBallGeneratedNumber4 }},
              {{ numberGenService.powerBallGeneratedNumber5 }},
           {{ numberGenService.powerBallGeneratedNumber6POWERBALL }}]</p> 
             
        <ol>{{ powerBall_SaveNumber }}</ol>
      </div>
      <button class="btn btn-outline-primary" type="submit">Post it</button>
    </div>

  </div>

  <app-rules-modal
  *ngIf="showRules"
  [gameTitle]="'Florida Lottery'"
  [quote]="'What arcane knowledge dost thou seek, mortal?'"
  (closed)="showRules = false">

  <div rules>
 <p> <b>1.</b> To play Powerball <b>Pick five numbers between 1-69 + one 'Red Powerball' from 1 through 26</b></p>
   
 <p><b>2.</b> Drawings are held every Monday, Wednesday and Saturday at 10:59 PM EST</p>

 <p><b>3.</b> There are 9 ways to win. The jackpot is won by matching all 5 white balls in any order and the red powerball</p>
    
<p><b>4.</b> Powerball costs $2.00 per play. For an additional $1.00 per play, the power play feature can multiply non-jackpot prizes
        by 2x, 3x, 4x, 5x or 10x - 10x multipler is in play wh the jackpot is $150 million or less.
      </p>

    <p><b>Jackpot winners may choose to receive their prize as an annuity, paid in 30 graduated payments over 29 years, or a lump-sum payment. Both advertised prize options are prior to federal and jurisdictional taxes.</b></p>

 </div>

  <div odds>
    <p> <b>1.</b> Odds for Jackpot 5 numbers + powerball: <b>1 in 290,472,336 - GRAND PRIZE</b>  </p>
    <p> <b>2.</b> Odds for 5 numbers without powerball: <b>    1 in 11,688,053 - $1,000,000 prize</b></p>
    <p> <b>3.</b> Odds for 4 numbers + powerball: <b>    1 in 913,129 - $50,000 prize</b></p>
    <p> <b>4.</b> Odds for 4 numbers without powerball: <b>   1 in 35,525 - $100 prize </b>  </p>
    <p> <b>5.</b> Odds for 3 numbers with powerball: <b>   1 in 14,494 - $100 prize </b>  </p>
    <p> <b>6.</b> Odds for 3 numbers without powerball: <b>   1 in 579 - $7 prize </b>  </p>
  <br>
 </div>

  <div theory>
    <p>This game has low variance and fast feedback. You can apply frequency tracking, trailing digit avoidance, and rolling analysis across day/night draws.</p>
  </div>

</app-rules-modal>
</div>
