mat-card {
   width: 80%;
   margin: auto;
   background-color: rgb(105, 103, 116);
   
 }

 mat-form-field,
 text-area {
  width: 100%;
  color: black;
  

}

h4 {
  color: rgb(192, 192, 192);
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.createLuck {
  color: black;
}

