

<mat-card>
<h4> Save Lucky Number Post</h4>
<p> Save your lucky numbers, or pictures of the numbers you want to play later.</p>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]='form' (submit)="onSaveLuck()" *ngIf="!isLoading">

    <mat-form-field>

      <input class='createLuck' matInput
        formControlName='numberSelected'
        type='number'
        placeholder="Enter only Numbers here"
        name='numberSelected'>

          <mat-error *ngIf="form.get('numberSelected').invalid"> Please Enter Your Lucky Number </mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type='button' (click)='pickFile.click()'>  Pick Image </button>
      <input type='file' #pickFile (change)='onImagePick($event)'>
      <div class='image-preview' *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]='imagePreview'[alt]='form.value.numberSelected'>
      </div>
    </div>

    <mat-form-field>
      <textarea matInput rows='6'
        formControlName='reasoning'
        placeholder="What is the significance of this number?"
        name='reasoning'> </textarea>
        <mat-error *ngIf="form.get('reasoning').invalid"> You do not have to enter a reason, its weird that you got this error.</mat-error>
    </mat-form-field>
    <button mat-button color='primary' type="submit"> Save </button>
  </form>
</mat-card>



