<button class='btn btn-outline-primary' type="button" (click)="back()"> back </button>
<h2 class="pagination justify-content-center" layout-align="center center">Florida Fantasy 5</h2>
<hr>
<div class="pagination justify-content-center" layout-align="center center">

</div>



<body id="theBody" class="pagination justify-content-center" layout-align="center center">



  <div id="Number-Gen-Total-Container">



    <script src='/javascripts/script.js'></script>
    <div class="">
      <h3>Fantasy 5 Number Generator</h3>

    </div>


    <div class="" id="Rules">
      <h4>Rules </h4>
      <p>1. Select five numbers from 1 through 36 </p>
      <p> Click the save number button save the numbers you wish to play to your profile to gain statistical DATA on
        how your numbers perform. Save number button will save a list of numbers you wish you save, then click post
        once you've bought a ticket. </p>
      <!-- <button class="btn btn-outline-info" (click)="FLPick2RulesOdds()"> I wish to know more</button> -->
    </div>





    <div class="pagination justify-content-center" id="CardContainer">

      <div id="NumberCard1">
        <h1 class="generatedNumber" id="firstNumber"> {{numberGenService.fantasy5GeneratedNumber1}} </h1>
      </div>
      <div id="NumberCard2">
        <h1 class="generatedNumber" id="2ndNumber"> {{numberGenService.fantasy5GeneratedNumber2}} </h1>
      </div>
      <div id="NumberCard3">
        <h1 class="generatedNumber" id="3ndNumber"> {{numberGenService.fantasy5GeneratedNumber3}} </h1>
      </div>
      <div id="NumberCard4">
        <h1 class="generatedNumber" id="4thNumber"> {{numberGenService.fantasy5GeneratedNumber4}} </h1>
      </div>
      <div id="NumberCard5">
        <h1 class="generatedNumber" id="5thNumber"> {{numberGenService.fantasy5GeneratedNumber5}} </h1>
      </div>

    </div>



    <br>
    <br>
    <div class="pagination justify-content-center " id="genieDiv">
      <br>
      <img class="pagination justify-content-center" id="Genie" src='./assets/public/images/MainGenie.jpg'>
      <br>


    </div>
    <div class="pagination justify-content-center">
      <p> "{{numberGenService.Phrase}} "</p>
    </div>

    <hr>

    <h2>Click save numbers to save a list</h2>
    <div class="pagination justify-content-center" id='gameArea'>
      <button class="btn btn-outline-primary" (click)='GenerateFantasy5();numberGenService.randomPhraseGen()'> Give me a
        number!
      </button>
      <button class="btn btn-outline-success" (click)="saveFantasy5()"> I will play this Number,
        save it
      </button>
      <button class="btn btn-outline-danger"> I don't like this
        number</button>
      <button class="btn btn-outline-info"> Show me numbers that have won </button>
    </div>

    <h2> Saved Numbers</h2>

    <div class="pagination justify-content-center" id='SavedNumbers'>

      <h3>
        {{fantasy5SavedNumbers}}
        {{ numberGenService.fantasy5GeneratedNumber1}}{{ numberGenService.fantasy5GeneratedNumber2}}
        {{ numberGenService.fantasy5GeneratedNumber3}},{{ numberGenService.fantasy5GeneratedNumber4}},{{ numberGenService.fantasy5GeneratedNumber5}}
      </h3>
    </div>
    <button class="btn btn-outline-primary" type="submit" method="POST">Post it</button>





  </div>

</body>
