<button onclick="location.href='/dashBoard';"> back</button>

<center>
  <u>
    <h1> MegaMillions Winning Number History </h1>
  </u>

  {{#each WinningMegaMillions}}
  <h5> Date: {{this.drawDate}} </h5>
  <h5>Winning number: <b>{{this.winningNumber}} </b> </h5>
  <h5>Megaball: {{this.megaBall}} </h5>

  {{/each}}




</center>
