#theBody {
  display: flex;
  margin: 1%;
  padding: 1%;
}

#CardContainer{
  display: flex;
  justify-content: center;


}

#genieDiv{
  display: flex;
  justify-content: center;

}



#NumberCard1{
  background-color: rgb(200, 226, 255);
  border: 1%;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%

}

#NumberCard2 {
  background-color: rgb(200, 226, 255);
  border: 1%;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%
}
#NumberCard3 {
  background-color: rgb(200, 226, 255);
  border: 1%;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%
}

h1 {
  font-size: 600%;
}

.btn {
  margin: 1%;
  padding: 1%;
  border: 1%;
  border-style: solid;
  border-color: black;
}

#SavedNumbers{
  border: 1px;
  border-style: solid;
  border-color: black;
}
