<div class="rules" id="">

  <br>
  <h3>Odds and Probability  </h3>
  <hr>
  <br>

  <p> <b>1.</b> Strait: Match numbers in exact order. 1$ strait play pays off $50.00 with odds of 1 : 100 </p>

  <p><b>2. Box: </b> Box play odds of <b>1:50</b> </p>

  <p><b> 3. 1-OFF:</b> You can be 1-OFF on either 1 or both numbers for a prize of <b>$3.00</b> with 8 possible
    winning
    combinations or <b>1:25</b> odds.</p>

  <p> <b>4. Front number OR back number:</b> You have a 1:10 chance of drawing the 1st number or the 2nd for a
    <b>$5.00</b>
    prize</p>
  <br>

  <h3> What to know about odds</h3>
  <p> What is important to understand about the odds of winning a lottery game like this is the <b>"1:100"</b> odds. It
    means that if you played the game 100 times, you should expect, on average to win once. This ratio of <b>"1:100"</b>
    can also be expressed as <b>1/100</b> or <b>1 out of 100</b></p>

</div>
