<div class="pagination justify-content-center" id="Rules-Container">
  <!-- <div class="" id="gameTitle">
    <h3>Rules & How to win </h3>
    <br>
    <b>Pick 2</b>
  </div> -->
  <br>
  <div class="rules" id="">
    <h3>Rules & How to win </h3>
    <br>
    <p> <b>1.</b> Select the amount you want to play <b>(Pick two numbers between 0-9)</b>: 50 cents or $1 (all
      Straight/Box and 1-OFF plays cost $1). </p>

    <p><b>2.</b> There are two drawings per day seven days per week, at approximately <b>1:30 p.m. and 9:45 p.m. ET.</b>
      Tickets for
      each drawing can be purchased up to 13 minutes prior to the applicable drawing – 1:17 p.m. ET for the midday
      drawings and 9:32 p.m. ET for the evening drawings.</p>

    <p><b>3.</b> Select the draw time. Select MID for the midday drawing (1:30
      p.m. ET), EVE for the evening drawing (9:45p.m. ET) draw, or BOTH for both the midday and evening drawings. If no
      draw time is marked, the terminal will
      automatically print a ticket for the next available draw. If BOTH is selected, two separate tickets will print –
      one for the midday drawing and one for the evening drawing.</p>

    <p>You can win a top prize of <b>$50 </b>with a $1 Straight play, or increase your chances of winning with a Box,
      Straight/Box, Front/Back Number or 1-OFF play.</p>

    <p><b>Reminder: Prizes must be claimed within 180 days of the draw date.</b>
      All PICK 2 prizes may be claimed at any authorized Florida Lottery retailer.</p>

    <h3>Different ways to win</h3>
    <p> Florida lottery offers different ways to win and maximize chances of winning prizes. Below the terms are
      explained:</p>
    <p> <b>1.</b><b> Strait:</b> Match numbers in exact order. 1$ strait play pays off <b>$50.00</b> ( and 50 cent play
      pays of <b>$25.00</b>) with <b>1 : 100
        odds</b> </p>

    <p><b>2. Box: </b> Box play means matching numbers in any order for a prize of <b>$25.00 </b>on a $1.00 play (or
      <b>$12.50</b>
      with a 50 cent play) with
      odds of <b>1:50</b> </p>

    <p><b> 3. 1-OFF:</b> 1-OFF allows you to still win a prize if the numbers that are drawn are either 1 number
      higher or lower than your selected numbers (example, you play the numbers 2-2, and the numbers 1-3 are drawn)
      (optional). In order to play it you must select the 1-OFF box on your lottery
      slip. You can be 1-OFF on either 1 or both numbers for a prize of <b>$3.00</b> with 8 possible winning
      combinations or <b>1:25</b> odds. 50 cent plays are not eligible for 1-OFF.</p>
    <br>
  </div>
