<button class="btn btn-outline-primary" (click)="back()"> Back </button>
<br>

<div layout="row" layout-align="center center" style="min-height: 500px">

  <a href="/FLPick2Winners">
    <img src="./assets/public/images/p2-game-pg-banner.jpg">
  </a>


  <!-- <a href="/FLPick3">
    <img src="./assets/public/images/p3-game-pg-banner.jpg">
  </a>

  <a href="/FLPick4">
    <img src="./assets/public/images/p4-game-pg-banner.jpg">
  </a>
  <a href="/FLPick5">
    <img src="./assets/public/images/p5-game-pg-banner.jpg">
  </a>

  <a href="/luckyMoney">
    <img src="./assets/public/images/luckyMoney-game-pg-banner_en.jpg">
  </a>

  <a href="/fantasy5">
    <img src="./assets/public/images/fan5-game-pgbanner.jpg">
  </a>

  <a href="/cashForLife">
    <img src="./assets/public/images/c4l-game-pg-banner.jpg">
  </a>

  <a href="/floridaLotto">
    <img src="./assets/public/images/lotto-game-pg-banner.jpg">
  </a>

  <a href="/megaMillions">
    <img src="./assets/public/images/megaMill-game-pg-banner.jpg">
  </a>

  <a href="/powerBall">
    <img src="./assets/public/images/pb-game-pg-banner.jpg">
  </a> -->







</div>

<!-- <img src="./images/geniworkinge2.jpg "> -->
