<div class="ui segment" id="LampPage" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p> A Djinni has been bound to your device! It is safely trapped inside the digital realm. Touch the lamp to
    awaken.
  </p>

  <!-- <div class="item" style="background-image: url('../images/genie-magic-lamp-6-4531.jpg');"></div> -->
  <img src="/assets/public/images/genie-magic-lamp-6-4531 withbackground.jpg" alt="Lamp" (click)="goToDash()">
  <h4> Click the Lamp to begin!</h4>
  <p>Do not set it free. Play Responsibly</p>
  <button (click)="goToAbout()"> Tell me about the Genie </button>

</div>
