<div class="landing-wrapper">
  <div class="landing-overlay">
    <h1 class="landing-title">Welcome to {{ title }}</h1>
    <p class="landing-subtitle">
      An ancient Djinni has been bound to your device! It is safely trapped inside the digital realm.
    </p>
    <h4>Touch the Lamp to begin!</h4>
    <button class="genie-btn" (click)="goToAbout()">Tell me about the Genie</button>
  </div>

  <img
    src="../../assets/public/images/landing_page_lamp.png"
    alt="Lamp"
    class="lamp-background"
    (click)="goToDash()" />

  <p class="disclaimer">
    PS: It was very difficult to catch. Please do not set it free. Play responsibly.
  </p>
</div>
