<div class="backGround">
  <div class="glassContainer glass" appDraggable>

    <h2> Florida Lottery Games: </h2>

    <button class="btn btn-outline-primary back-btn-panel" (click)="back()">Back</button>

    <div class="game-grid">
      <a href="/FLPick2Gen"><img src="./assets/public/images/p2-game-pg-banner.jpg"></a>
      <a href="/FLPick3Gen"><img src="./assets/public/images/p3-game-pg-banner.jpg"></a>
      <a href="/FLPick4Gen"><img src="./assets/public/images/p4-game-pg-banner.jpg"></a>
      <a href="/FLPick5Gen"><img src="./assets/public/images/p5-game-pg-banner.jpg"></a>
      <a href="/luckyMoneyGen"><img src="./assets/public/images/luckyMoney-game-pg-banner_en.jpg"></a>
      <a href="/fantasy5Gen"><img src="./assets/public/images/fan5-game-pgbanner.jpg"></a>
      <a href="/cashForLifeGen"><img src="./assets/public/images/c4l-game-pg-banner.jpg"></a>
      <a href="/floridaLottoGen"><img src="./assets/public/images/lotto-game-pg-banner.jpg"></a>
      <a href="/MegaMillionsNumbersGen"><img src="./assets/public/images/megaMill-game-pg-banner.jpg"></a>
      <a href="/powerBallGen"><img src="./assets/public/images/pb-game-pg-banner.jpg"></a>
    </div>
    
  </div>
</div>
