<!-- <button class="btn btn-outline-primary" (click)="back()"> Back </button>
<br>
<h1> Florida Winning Number History Game Pick </h1>

<div layout="row" layout-align="center center" style="min-height: 500px">


  <a href="/WinningMegaMellionsNumbers">
    <img src="./assets/public/images/megaMill-game-pg-banner.jpg">
  </a>

  <a href="/WinningPowerballNumbers">
    <img src="./assets/public/images/pb-game-pg-banner.jpg">
  </a>

  <a href="/CashForLifeWinners">
    <img src="./assets/public/images/c4l-game-pg-banner.jpg">
  </a>  

</div> -->
