mat-card {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  background-color: rgb(225, 233, 255);
}

mat-form-field,
text-area {
 width: 100%;
 color: rgb(70, 116, 68);

}

.log {
 color: rgb(29, 28, 29);
}

input {
 color: white;
}

img {
 height: 20%;
 width: auto;
 margin-left: 25%;
}