<button class="btn btn-outline-primary" (click)="back()"> Back </button>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <h1>Number Generator</h1>
</div>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <p> I can generate a number for any lottery game in any state! Pick a state and then pick a game.</p>

</div>

<br>
<br>
<hr>



<div id="list" class="pagination justify-content-center" flex="50" layout-align="center">
  <ol>
    <h3>
      <li> <a href="/FLGamePick">Florida</a> </li>
      <!-- <li> <a href="/">New Jersey</a> </li>
    <li> <a href="/">New York</a> </li>
    <li> <a href="/">Pennsylvania</a> </li>
    <li> <a href="/">Vermont</a> </li>
    <li> <a href="/">Virginia</a> </li> -->
    </h3>
  </ol>

</div>
