
<div class="backGround">
 <div class="glassContainer glass" appDraggable> 
  <button class="btn back-btn-panel" (click)="back()"> Back </button>
<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <h1>Number Generator</h1>
</div>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <p> I can generate a number for any lottery game! Pick a state and then pick a game.</p>

</div>

<br>
<hr>

-

<div id="list" class="pagination justify-content-center" flex="50" layout-align="center">
  <ol>
    <h3>
      <li> <a class='state-link' href="/FLGamePick">Florida</a> </li>
      <!-- <li> <a class='state-link' href="/">New Jersey</a> </li>
      <li> <a class='state-link' href="/">New York</a> </li>
      <li> <a class='state-link' href="/">Pennsylvania</a> </li>
      <li> <a class='state-link' href="/">Vermont</a> </li>
      <li> <a class='state-link' href="/">Virginia</a> </li> -->
    </h3>
  </ol>
</div>
 </div>

</div>