<div class="" id="Odds">

  <br>
  <h3>Odds and Probability </h3>
  <br>

  <p> <b>1.</b><b> Strait:</b> Match numbers in exact order. 1$ strait play pays off <b> $500.00 </b>  with odds of <b> 1:1000  </b> </p>

  <h3> What to know about odds</h3>
  <p> What is important to understand about the odds of winning a lottery game like this is the <b>"1:100"</b> odds. It
    means that if you played the game 100 times, you should expect, on average to win once. This ratio of <b>"1:100"</b>
    can also be expressed as <b>1/100</b> or <b>1 out of 100</b></p>

</div>
