
<div class="backGround"> 
 <div class="glassContainer glass" appDraggable> 
<button class="btn back-btn-panel" (click)="back()"> Back </button>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <h2>Winning Numbers Archives</h2>
</div>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <p> Pick a state and game for which games you'd like to see the winning numbers for. </p>

</div>

<br>
<br>
<hr>



<div id="list" class="pagination justify-content-center" flex="50" layout-align="center">
  <ol>
    <h3>
    <li> <a class='state-link' href="/winningNumbersGamePick">Florida</a> </li>     
    <li> <a class='state-link' [routerLink]="['/state-game-pick', 'NJ']" >New Jersey</a> </li>
    <li> <a class='state-link' [routerLink]="['/state-game-pick', 'NY']" >New York</a> </li>
    <li> <a class='state-link' [routerLink]="['/state-game-pick', 'PA']" >Pennsylvania</a> </li>
    <li> <a class='state-link' [routerLink]="['/state-game-pick', 'VA']" >Vermont</a> </li>
    <li> <a class='state-link' [routerLink]="['/state-game-pick', 'VI']" >Virginia</a> </li>
    </h3>
  </ol>
  </div>
  </div>
</div>