<button class="btn btn-outline-primary" (click)="back()"> Back </button>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <h1>Winning Numbers Archives</h1>
</div>

<div id="state" class="pagination justify-content-center" flex="50" layout-align="center">
  <p> Pick a state for which games you'd like to see winning numbers for. </p>

</div>

<br>
<br>
<hr>



<div id="list" class="pagination justify-content-center" flex="50" layout-align="center">
  <ol>
    <h3>
      <li> <a href="/winningNumbersGamePick">Florida</a> </li>
      <!-- <li> <a href="/">New Jersey</a> </li>
    <li> <a href="/">New York</a> </li>
    <li> <a href="/">Pennsylvania</a> </li>
    <li> <a href="/">Vermont</a> </li>
    <li> <a href="/">Virginia</a> </li> -->
    </h3>
  </ol>

</div>
