<!-- <button onclick="goToHome()"> Back </button> -->
<a href="/home"> Home </a>


<div class="ui segment" id="About" style="text-align:center">
  <h1>
    About the Genie
  </h1>
  <h2>History of The Djinn</h2>
  <p>Jinn is an Arabic collective noun deriving from the Semitic root jnn (Arabic: جَنّ / جُنّ‎, jann), whose primary
    meaning is "to hide" or "to conceal". Some authors interpret the word to mean, literally, "beings that are
    concealed from the senses" Jinn also Romanized as djinn or Anglicized as genies ( or djinnis, with the more broad
    meaning of spirits or demons, depending on source) are supernatural creatures.
    </p>

  <p> We've taken the liberty of binding one to your device, to help you make the most of your lottery game experience.
  </p>
  <img src='./assets/public/images/genielamp2.jpeg'>

  <h2> What the Djinn can do for you</h2>

  <p> The Lottery Djinni is designed to streamline and enhance your lottery gaming experience.
    The Djinni can generate game specific lottery numbers for you, and if you log in, it can save the numbers it generates and/or the numbers 
    you play to help you keep track of progress, winnings/loosings, and statistics over time. The djinni can also tell you about the rules of each of the
    game, how to win, the odds of winning in detail and notify you of winnings.  Additionally the Djinni allows you to create and store lucky, meaningful or significant numbers
    you wish to play or incorporate into your strategies. See a random interesting series of numbers you want to remember and play later? You can 
    post a picture of the number to your lucky numbers list, or just type the number.
  </p>
