<div class="backGround">
  <div class="glassContainer glass" appDraggable>
    <button class="btn btn-back-panel" (click)="back()">Back</button>


    <h1>About the Genie</h1>
    <h2>History of the Djinn</h2>
    <p>
      Arabic collective noun deriving from the Semitic root <em>jnn</em> (Arabic: جِنّ‎, <em>jann</em>), meaning "to hide" or "to conceal".
      Some interpret it to mean beings concealed from the senses—also known as djinn, or genies. These supernatural entities appear across mythologies as spirits or demons.
    </p>
    <p>
      We've taken the liberty of binding one to your device to help you make the most of your lottery experience.
    </p>

    <h2>What the Djinn Can Do for You</h2>
    <p>
      The Djinni streamlines your lottery experience. It can generate game-specific numbers, store your history, analyze patterns, and notify you of wins.
      You can also save meaningful numbers, track your play, and learn the odds of winning. Let it do the magical math while you focus on the fun.
    </p>

  </div>
</div>
