<!-- <button onclick="goToHome()"> Back </button> -->
<a href="/home"> Home </a>


<div class="ui segment" id="About" style="text-align:center">
  <h1>
    About the Genie
  </h1>
  <h2>History of The Djinn</h2>
  <p>Jinn is an Arabic collective noun deriving from the Semitic root jnn (Arabic: جَنّ / جُنّ‎, jann), whose primary
    meaning is "to hide" or "to conceal". Some authors interpret the word to mean, literally, "beings that are
    concealed from the senses" Jinn also Romanized as djinn or Anglicized as genies ( or djinnis, with the more broad
    meaning of spirits or demons, depending on source) are supernatural creatures.
    Belief in Djinn, dates back far in human history, predating the Islamic religion, some 1500 years.
    Jinn are not a strictly an Islamic concept, rather they may be various pagan beings integrated into Islam. Since
    jinn are not inevitably evil (nor good), Islam was able to adapt spirits from other religions during its expansion.
    In an Islamic context, the term jinn is used for both a collective designation for any supernatural creature and
    also to refer to a specific type of supernatural creature. Affirmation on the existence of Jinn as sapient
    creatures living along with humans is still widespread to this day in the Middle Eastern world and mental illnesses
    are often
    attributed to jinn possession. Considered to be an invisible entity, created by God out of a "mixture of
    fire" or "smokeless fire", who roamed the earth before Adam. Jinn are also related to heavenly beings, a
    sub-category of angels or a tribe of angelic beings, who is able to sin and created from fire, unlike their
    light-created counterpart. However these jinn must be distinguished, from the Pre-Adamite jinn-race, who share
    many characteristics with human, instead of angels. The Quran indicates that like human beings the Jinn, both
    believing and unbelieving, have free choice. They can choose to obey God or to rebel and in that sense they are
    similar to human beings except for the fact that they are non-material.


  </p>

  <p> We've taken the liberty of binding one to your device, to help you make the most of your lottery game experience.
  </p>
  <img src='./assets/public/images/genielamp2.jpeg'>

  <h2> What the Djinn can do for you</h2>

  <p> The Djinni can generate game specific lottery numbers for you, save the numbers you play, and use game theory
    probability and statistics to help you make the best choices. The genie will also tell you about the rules of the
    game, the odds of winning and different ways to win in detail.
    The Djinni will also notify you of winnings if you
    allow push notifications, and it will keep track of your favorite numbers and give you unique ways to incorporate
    them into the games you play. Play responsibly.
  </p>
